// Rename this file to `env.js` and add the values below for easy env vars while developing locally

process.env['APP_SECRET'] = ''
process.env['EMAIL_CONNECTION_STRING'] = ''
process.env['EMAIL_RECIPIENT'] = ''
process.env['TWILIO_ACCOUNT_SID'] = ''
process.env['TWILIO_AUTH_TOKEN'] = ''
process.env['TWILIO_NUMBER'] = ''
process.env['TWILIO_WEBHOOK'] = ''
